body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #151d2c;
    color: white;
}

.color-scheme {
    margin-bottom: 20px;
}

.color-scheme-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.color-box-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    border: 5px solid rgba(255, 255, 255, 0.6);
}

.color-box:hover .color-code {
    display: block;
}

.color-code {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

input[type="color"], input[type="text"] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.colorContainer {
    background-color: #1f2937;
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 40px;
}

#randomButton {
    background-color: var(--complementary-color);  /* 補色が動的に適用される */
    border-radius: 8px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
	transform: scale(1.1);
}